<html>
<head>
	<meta charset="UTF-8">
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/nearley/lib/nearley.js"></script>
	<script src="node_modules/codemirror/lib/codemirror.js"></script>
	<script src="node_modules/codemirror/addon/hint/show-hint.js"></script>
	<script src="node_modules/codemirror/addon/selection/active-line.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-recursion/angular-recursion.js"></script>
	<script src="node_modules/angular-ui-codemirror/src/ui-codemirror.js"></script>
    <script src="src/editor/bellmania-mode.js"></script>
    <script src="src/editor/matchbrackets-patched.js"></script>
    <script src="src/editor/show-error.js"></script>
    <script src="src/editor/editor.ls.js"></script>
	<script src="src/parse-utils.ls.js"></script>
	<script src="src/lambda.ne.js"></script>
	<script src="src/parse.ls.js"></script>
	<script src="src/debug.ls.js"></script>
	<script src="../web.realtime/reload.js"></script>

	<link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="node_modules/codemirror/theme/neat.css">
	<link rel="stylesheet" href="node_modules/codemirror/addon/hint/show-hint.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/index.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Bellmania</title>

</head>
<body>
	<div class="container">

		<div ng-app="app" ng-controller="Ctrl">
			<h3>Input <select style="float: right" ng-model="filename" ng-change="open()" ng-options="e group by prefix(e) for e in examples"></select></h3>

			<textarea ui-codemirror="{ onLoad : loaded, indentWithTabs : true }" ui-codemirror-opts="cmOptions" ng-model="code" id="code"></textarea>
			<br>
			<button class="btn btn-default" ng-click="parseAndDisplay()" id="submit">Parse!</button>
			<hr>

			<h3>Output</h3>

			<div ng-show="errorMsg.length > 0" class="alert alert-danger">{{errorMsg}}</div>

			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#parsed" aria-controls="parsed" role="tab" data-toggle="tab">Parse</a></li>
				<li role="presentation"><a href="#format" aria-controls="format" role="tab" data-toggle="tab">Output</a></li>
			</ul>
			<br>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="parsed">
                    <pre>[<span ng-repeat="obj in parsed" class="tip"
                                data-tip="{{obj | json:4}}"> ∙ </span>]</pre>
					<pre>{{parsed | json:4}}</pre><!--
					<pre>{{output | json:4}}</pre> -->
				</div>
				<div role="tabpanel" class="tab-pane" id="format">
					<div class="cell" ng-repeat="cell in output | orderBy:'index'">
						<display o="cell.value"></display>
					</div>
				</div>
			</div>
		</div>

		<template type="text/ng-template" id="display">
            <display ng-if="o.display" o="o.display"></display>
			<compute ng-if="o.tape" let="parts = o | display">
				<span class="code"
				 ng-class="mark[1]"
				 data-tip="{{mark[2]}}"
				 ng-repeat="mark in parts track by $index">{{mark[0]}}</span>
			</compute>
			<div ng-if="o.vbox" ng-repeat="el in o.vbox">
				<display o="el"></display>
			</div>
			<ul ng-if="o.list">
				<li ng-repeat="el in o.list">
					<display o="el"></display>
				</li>
			</ul>
			<ul ng-if="o.tree" class="c" bullet="{{o.bullet}}">
				<li>
					<display o="o.tree.root"></display>
					<display ng-repeat="s in o.tree.subtrees" o="{tree: s}"></display>
				</li>
			</ul>
			<span class="code" ng-if="o | isString">{{o}}</span>
		</template>
	</div>
</body>
</html>