<html>
<head>
	<meta charset="UTF-8">
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/async/dist/async.js"></script>
	<script src="node_modules/nearley/lib/nearley.js"></script>
	<script src="node_modules/codemirror/lib/codemirror.js"></script>
	<script src="node_modules/codemirror/mode/scheme/scheme.js"></script>
	<script src="node_modules/codemirror/addon/hint/show-hint.js"></script>
	<script src="node_modules/codemirror/addon/selection/active-line.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-recursion/angular-recursion.js"></script>
	<script src="node_modules/angular-ui-codemirror/src/ui-codemirror.js"></script>
	<script src="node_modules/angular-ui-select/select.js"></script>
	<script src="node_modules/bootbox/bootbox.js"></script>
	<script src="node_modules/ngbootbox/dist/ngBootbox.js"></script>

    <script src="src/editor/bellmania-mode.js"></script>
    <script src="src/editor/matchbrackets-patched.js"></script>
    <script src="src/editor/show-error.js"></script>
    <script src="src/editor/editor.ls.js"></script>

	<script src="src/parse-utils.ls.js"></script>
	<script src="src/lambda.ne.js"></script>
	<script src="src/parse.ls.js"></script>
	<script src="src/repl.ls.js"></script>
	<script src="../web.realtime/reload.js"></script>
    <script>Reload.ignore(/^examples\//);</script>

	<link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="node_modules/codemirror/theme/neat.css">
	<link rel="stylesheet" href="node_modules/codemirror/addon/hint/show-hint.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="src/index.css">
</head>
<body>
	<div ng-app="app" ng-controller="Ctrl">
		<div class="container">
			<h1>Bellmania Interface</h1>
			<p>Press Cmd-Enter in the code editor to parse current code.</p>
			<div style="margin-bottom: 15px" class="form-inline">
				<a class="btn btn-default" ng-click="reset()">New</a>
				<a class="btn btn-default" ng-click="save()">Save</a>
				<label class="btn btn-default">
					<input type="file" style="display:none;" accept=".json" ng-model="file" file-change="load()">
					Load
				</label>
			</div>
		</div>
		<div class="container" ng-repeat="h in history">
			<hr ng-if="$index > 0">
			<div class="row">
				<span ng-show="isInvalid(h)" class="label label-danger pull-right icon">OUTDATED</span>
			</div>
			<div class="row">
				<div class="col-xs-1">{{"In[" + h.id + "]"}}</div>
				<div class="col-xs-11">
					<textarea ui-codemirror="{ onLoad : wrapper(h), indentWithTabs : true }" ui-codemirror-opts="cmOptions" ng-model="h.input"></textarea>
				</div>
			</div>
			<div ng-show="h.error && h.error.msg.length > 0" class="alert alert-danger error">
				<div ng-hide="h.error && h.error.stack" class="message">{{h.error.msg}}</div>
				<div ng-show="h.error && h.error.stack">
					<a class="expand-collapse" ng-click="toggleStackShow(h.error)">
						<i class="fa" ng-class="{'fa-caret-right': !h.error.stackshow, 'fa-caret-down': h.error.stackshow}"></i>
                    </a><!-- funky layout to avoid spaces
                    --><span ng-hide="h.error.stackshow" class="message">{{h.error.msg}}</span><!--
					--><span ng-show="h.error.stackshow" class="stack">{{h.error.stack}}</span>
				</div>
			</div>
			<div class="sk-fading-circle" ng-if="h.loading">
			  <div class="sk-circle1 sk-circle"></div>
			  <div class="sk-circle2 sk-circle"></div>
			  <div class="sk-circle3 sk-circle"></div>
			  <div class="sk-circle4 sk-circle"></div>
			  <div class="sk-circle5 sk-circle"></div>
			  <div class="sk-circle6 sk-circle"></div>
			  <div class="sk-circle7 sk-circle"></div>
			  <div class="sk-circle8 sk-circle"></div>
			  <div class="sk-circle9 sk-circle"></div>
			  <div class="sk-circle10 sk-circle"></div>
			  <div class="sk-circle11 sk-circle"></div>
			  <div class="sk-circle12 sk-circle"></div>
			</div>
			<div class="row" ng-if="h.output" ng-class="{invalid: isInvalid(h)}">
				<div class="col-xs-1">{{"Out[" + h.id + "]"}}</div>
				<div class="col-xs-11">
					<div class="cell" ng-repeat="cell in h.output | orderBy:'index'">
						<display o="cell.value"></display>
					</div>
				</div>
			</div>
		</div>
	</div>
	<template type="text/ng-template" id="display">
        <display ng-if="o.display" o="o.display"></display>
		<compute ng-if="o.tape" let="parts = o | display">
			<span class="code"
			 ng-class="mark[1]"
			 data-tip="{{mark[2]}}"
			 ng-repeat="mark in parts track by $index">{{mark[0]}}</span>
		</compute>
		<div ng-if="o.vbox" ng-repeat="el in o.vbox">
			<display o="el"></display>
		</div>
		<ul ng-if="o.list">
			<li ng-repeat="el in o.list">
				<display o="el"></display>
			</li>
		</ul>
		<ul ng-if="o.tree" class="c" bullet="{{o.bullet}}">
			<li>
				<display o="o.tree.root"></display>
				<display ng-repeat="s in o.tree.subtrees" o="{tree: s}"></display>
			</li>
		</ul>
		<span class="code" ng-if="o | isString">{{o}}</span>
	</template>
</body>
</html>